:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Source Sans Pro", sans-serif;
  --font-secondary: "Poppins", sans-serif;

  --color-default: #1a1f24;
  --color-default-rgb: 26, 31, 36;

  --color-links: #f97233;
  --color-links-hover: #fa9160;

  --color-primary: #f97233;
  --color-primary-light: #fb9b6e;
  --color-primary-dark: #e54d07;

  --color-primary-rgb: 249, 114, 51;
  --color-primary-light-rgb: 251, 155, 110;
  --color-primary-dark-rgb: 229, 77, 7;

  --color-secondary: #485664;
  --color-secondary-light: #8f9fae;
  --color-secondary-dark: #3a4753;

  --color-secondary-rgb: 72, 86, 100;
  --color-secondary-light-rgb: 143, 159, 174;
  --color-secondary-dark-rgb: 58, 71, 83;

  --color-blue: #0d6efd;
  --color-blue-rgb: 13, 110, 253;

  --color-indigo: #6610f2;
  --color-indigo-rgb: 102, 16, 242;

  --color-purple: #6f42c1;
  --color-purple-rgb: 111, 66, 193;

  --color-pink: #f3268c;
  --color-pink-rgb: 243, 38, 140;

  --color-red: #df1529;
  --color-red-rgb: 223, 21, 4;

  --color-orange: #fd7e14;
  --color-orange-rgb: 253, 126, 20;

  --color-yellow: #ffc107;
  --color-yellow-rgb: 255, 193, 7;

  --color-green: #059652;
  --color-green-rgb: 5, 150, 82;

  --color-teal: #20c997;
  --color-teal-rgb: 32, 201, 151;

  --color-cyan: #0dcaf0;
  --color-cyan-rgb: 13, 202, 240;

  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;

  --color-gray: #6c757d;
  --color-gray-rgb: 108, 117, 125;

  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Cairo", sans-serif;
  text-transform: capitalize;
}
a{
  text-decoration: none;
} 
  
.header{
background-color: rgba(var(--color-green-rgb), 0.6);
height: 100px;
}
.header .container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  color: var(--color-white);
}
.header .container .logo img{
  width: 100px;
}

.section-one{
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-one .information{
  color: var(--color-white);
  line-height: 2;
}
.main-l-img img{
  margin-right: 200px;
  width: 20em;
  animation: top-bottom 2s infinite both;
  animation-timing-function: ease;
  animation-direction:alternate;
}
.section-one .forms form{
  display: flex;
  flex-direction: column;
}
.section-one .forms form input{
  width: 100%;
  height: 40px;
  padding: 8px;
  line-height: 22px;
  border: 1px solid #eee;
  border-radius: 6px;
  outline: none;
  margin-bottom: 20px;
}
iframe{
  display: none;
}
.section-one .forms form input:last-child{
  border: 1px solid #333;
  margin-bottom: 0;
  color: #fff;
}
.btn-close{
  position: absolute;
  left: 15px;
}
.section-two{
  background-color: rgba(var(--color-blue-rgb),0.8);
}
.section-two a{
  color: #eee;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--color-blue-rgb), .3);
  height: 45vh;
  padding: 15px 0;
  border-radius: 6px;
}
.box p {
  font-size: 18px;
  padding-top: 15px;
}
.box .img{
  width: 100%;
  display: flex;
  justify-content: center;
}
.box img{
  width: 50%;
}
.footer{
  height: 100px;
  color: #eee;
}
.footer .container{
  height: inherit;
}
.footer .row{
  height: inherit;
}
.footer .icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.icons a svg{
  font-size: 20px;
}
@media (max-width:747px) {
  .header{
height: 60px;
}
.header .container .logo img{
  width: 70px;
}
.section-one{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-one h1{
  font-size: 20px;
}
.section-one p{
  font-size: 15px;
}
.section-one .information{
  color: var(--color-white);
  line-height: 1.4;
}
.main-l-img img{
  margin-top: 25px;
  margin-right: 50px;
  width: 15em;
  animation: top-bottom 2s infinite both;
  animation-timing-function: ease;
  animation-direction:alternate;
}
.section-one .forms form{
  display: flex;
  flex-direction: column;
}
.section-one .forms form input{
  height: 30px;
  padding: 6px;
  line-height: 10px;
}
.section-one .forms form input:last-child{
  margin-bottom: 15px;
}
.box{
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}
.box p {
  font-size: 16px;
  padding-top: 10px;
}
.box .img{
  width: 80%;
  display: flex;
  justify-content: center;
}
.box img{
  width: 50%;
}
}


@keyframes top-bottom {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
